.SlickSlider {
  width:70vw;
  position: relative;
  display: block;
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.SlickSlider > div {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.SlickSlider > div:focus {
  outline: none;
}

.SlickSlider > div > div,
.SlickSlider > div {
  transform: translate3d(0, 0, 0);
}

.SlickSlider > div > div {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.SlickSlider > div > div:before,
.SlickSlider > div > div:after {
    display: table;
    content: '';
}

.SlickSlider > div > div:after {
    clear: both;
}

.SlickSlider > div > div > div {
  float: left;
  height: 100%;
  min-height: 1px;
  width: 10%;
}