.Carousel {
  margin-top: 3em;
  width: 80%;
  display: flex;
  padding-top: 20px;
  padding-bottom: 80px
}

.Carousel > div {
  text-align: center;
  padding: 5%;
}

@media (max-width:  1400px) {
  .Carousel > div {
    text-align: center;
    padding: 3%;
  }
}

.FadeIn {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
